html {
  font-size: 62.5%;
  box-sizing: border-box;
  width: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background: rgb(240, 238, 238);
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
}

/*! ======================== NAV ================= */
nav {
  background-color: rgb(117, 50, 249);

  padding: 1rem;
}
.container-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nike-nav {

  width: 5rem;
  height: 2rem;
  ;
}
.links-nav {
  padding: 1rem;
  color: rgb(222, 214, 214);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
}
.links-nav:hover {
  color: white;
}

.icon-tabler-moon:hover {
  background-color: rgba(255, 255, 255, 0.221);
  border-radius: 20%;
  cursor: pointer;
}
.icon-tabler-shopping-cart:hover {
  background-color: rgba(255, 255, 255, 0.221);
  border-radius: 20%;
  cursor: pointer;
}
.counter-item-cart {
  display: flex;
  justify-content: center;
}
.counter-item {
  background-color: red;
  color: white;
  margin-left: -1rem;
  text-align: center;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}
/*! ======================== HEADER ================= */
.container-presentation {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentation {
  width: 30%;
  height: 20rem;
  padding: 3rem;
}
.nike-logo-black {
  display: flex;
  margin-top: 5rem;
  margin-left: 5rem;
  height: 11rem;

}
.nike-logo {
  display: flex;
  margin-top: 5rem;
  margin-left: 5rem;
  height: 11rem;
 
}
.title-presentation {
  font-weight: bolder;
  font-size: 3.5rem;
  text-align: left;
  color: rgb(117, 50, 249);
}
.text-presentation {
  font-size: 1.8rem;
  font-weight: 500;
}
/*! ======================== BUY LINE ================= */
.buy-now-line {
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-align: center;
}
/*! ======================== PRODUCTS ================= */
.container-btn-products {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 11rem;
}
.container-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  width: 100%;
}

.show {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 15rem;
  width: 20rem;
}
.btn-show-all {
  color: rgb(117, 50, 249);
  text-align: center;
  width: 20rem;
}
.btn-show-all:hover {
  color: rgb(226, 52, 52);
}
.btn-show-casual {
  color: rgb(117, 50, 249);
  text-align: center;
  width: 20rem;
}
.btn-show-casual:hover {
  color: rgb(226, 52, 52);
}
.btn-show-run {
  color: rgb(117, 50, 249);
  text-align: center;
  width: 20rem;
}
.btn-show-run:hover {
  color: rgb(226, 52, 52);
}
.quantity {
  margin-top: -1rem;
  color: rgb(108, 108, 108);
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  width: 20.5rem;
  background: rgba(112, 3, 139, 0.567);
  margin: 5px;
  border-radius: 10px;
}
.box:hover {
  box-shadow: 8px 8px 32px 8px rgba(112, 3, 139, 0.899);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.nike-article {
  height: 20rem;
  width: 20rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.add {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(222, 218, 218);
  width: 20rem;
  height: 9.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.article-price-description {
  margin-top: -1.5rem;
  margin-left: 2.5rem;
}
.collection {
  color: rgb(117, 50, 249);
  font-size: 2.5rem;
  text-align: center;
  margin-right: 2rem;
}
.price {
  font-weight: bold;
  font-size: 2rem;
  color: rgb(255, 0, 0);
  margin-bottom: -1.5rem;
}
.product-description {
  font-weight: bold;
  font-size: 1.8rem;
  color: black;
}
.icon-tabler-plus {
  margin-top: 1rem;
  margin-left: 2rem;
}
.icon-tabler-plus:hover {
  background-color: white;
  border-radius: 10%;
  cursor: pointer;
}
/*! ======================== FOOTER ================= */
footer {
  background-color: rgb(117, 50, 249);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.martin-dev {
  color: white;
  font-weight: lighter;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.social-media {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 6rem;
}
.icon-tabler-brand-instagram:hover {
  background-color: rgba(255, 255, 255, 0.221);
  border-radius: 20%;
  cursor: pointer;
}
.icon-tabler-brand-facebook:hover {
  background-color: rgba(255, 255, 255, 0.221);
  border-radius: 20%;
  cursor: pointer;
}
.icon-tabler-brand-youtube:hover {
  background-color: rgba(255, 255, 255, 0.221);
  border-radius: 20%;
  cursor: pointer;
}
/*! ======================== CART ================= */

.cart-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(194, 194, 194);
  width: 85%;
  height: 95rem;
  margin-top: 0.5rem;
  margin-left: 10%;
  margin-bottom: 70px;
  border-radius: 20px;
  position: absolute;
  gap: 20px;
}
.cart-title {
  text-align: center;
  margin-top: -8rem;
  margin-left: 57rem;
  font-size: 3rem;
}
.head-cart {
  margin-top: 20px;
  width: 130rem;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.cart-close {
  margin-left: 45rem;
  background-color: purple;
  color: white;
  height: 2rem;
  width: 2rem;
  text-align: center;
  border-radius: 40%;
  margin-top: -8rem;
}
.cart-close:hover {
  background-color: red;
}
.cart-empty {
  background-color: white;
  border-radius: 20px;
  height: 43rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
 
  position: absolute;
}
.cart-empty-img {
  height: 28rem;
  width: 30rem;
}
.items-container {
  width: 120rem;
  height: 15rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.items-qty {
  font-weight: lighter;
  font-size: 2rem;
  margin-bottom: 7rem;
}
.items {
  background-color: tomato;
}

.cart-total {
  font-weight: bold;
  font-size: 2rem;
  color: rgb(21, 173, 69);
}
cart-checkout {
  padding: 0.5rem;
}
.checkout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(117, 50, 249);
  border-radius: 20px;
  color: white;
  font-weight: bolder;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  margin-top: 3rem;
}
.checkout-btn:hover {
  background-color: rgb(28, 184, 28);
}
.icon-tabler-circle-check {
  height: 3rem;
  width: 5rem;
}
.cart-container-content {
  position: relative;
  
  box-sizing: border-box;
  background-color: rgb(194, 194, 194);
  width: 70%;
  height: 60rem;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  margin-top: -4rem;
}

.articulo1 {
  box-sizing: border-box;
  width: 100rem;
  height: 13rem;
  background-color: rgba(255, 255, 255, 0.837);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border: 0px solid rgba(207, 204, 204, 0.182);
}
.cart-info {
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.714);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 12.8rem;
  width: 60rem;
  text-align: center;
}

.articulo2 {
  width: 100rem;
  height: 13rem;
  background-color: rgba(255, 255, 255, 0.837);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border: 0px solid rgba(207, 204, 204, 0.182);
}
.articulo3 {
  width: 100rem;
  height: 13rem;
  background-color: rgba(255, 255, 255, 0.837);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border: 0px solid rgba(207, 204, 204, 0.182);
}
.articulo4 {
  width: 100rem;
  height: 13rem;
  background-color: rgba(255, 255, 255, 0.837);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border: 0px solid rgba(207, 204, 204, 0.182);
}
.react-infinity {
  height: 10rem;
  width: 10rem;
}
.lebron19 {
  height: 7rem;
  width: 7rem;
}
.nike-pegasus {
  height: 7rem;
  width: 7rem;
}
.nike-pegasus {
  height: 7rem;
  width: 7rem;
}
.jordan-series-mid {
  height: 7rem;
  width: 7rem;
}

.trash {
  height: 7rem;
  width: 7rem;
}
.cart-subtitle {
  font-size: 2rem;
  margin-top: 3rem;
}

.cart-price {
  font-size: 1.7rem;
  margin-top: -1.5rem;
}
.plus-and-minus {
  margin-top: -1rem;
  width: 20rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 2rem;
  border-radius: 10px;
}
.cart-amount-minus {
  background-color: rgb(255, 255, 255);
  font-size: 2rem;
  border-radius: 15%;
  width: 2.5rem;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.101);
}
.cart-amount-minus:hover {
  background-color: red;
  color: white;
}
.cart-amount-plus {
  background-color: white;
  font-size: 2rem;
  border-radius: 15%;
  width: 2.5rem;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.101);
}

.cart-amount-plus:hover {
  background-color: red;
  color: white;
}
